<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All courses</title>
    <link rel="stylesheet" href="../css/courses.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <link rel="stylesheet" href="/css/temp.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

</head>

<body>
    <div id="nn123">
    </div>
    <div>
        <div id="heading">
            <img src="https://assets.interntheory.com/creative/courses/listpage/Course-banner1.png">
        </div>
        <div class="intro">
            <h4>Certified Online Courses</h4>
            <p>Upgrade your skills with Intern Theory's online learning platform. Enrol for any certified online
                courses and get a step ahead of competition. Select from a range of skill based online courses and
                kickstart your career.
            </p>
        </div>
    </div>

    <div id="details">
        <div id="online_course">
            <% course.forEach(courses=> { %>

                <div>
                    <img src="<%= courses.image%>" alt="nothing">
                    <p class="p_name">
                        <%= courses.name %>
                    </p>
                    <p class="p_des">
                        <%= courses.Des %>
                    </p>
                    <hr style="border-top:1px dashed gray">

                    <p class="p_price">
                        <span style="display: inline; text-decoration: line-through; font-size:10px; color:gray;">₹<%=
                                courses.price1 %></span>&nbsp;<span>₹&nbsp;<%= courses.price %></span>
                    </p>
                    <p class="p_emi">
                        <%= courses.EMI %>
                    </p>

                    <button onclick="addToCart(`<%= courses._id %>`)" class="button">ADD TO CART</button>


                    <a href="/courses/<%= courses._id %>" class="button1">KNOW MORE</a>
                </div>
                <% }) %>


        </div>
    </div>

    <a id="cartitems">CART</a>
    <div id="footer">
        <%- include('../partials/footer') %>
    </div>

    <script>


        let userinfo = JSON.parse(localStorage.getItem('user_info1'));

        // console.log(userinfo.userid, "sdjofsjo");

        function addToCart(coursess) {
            // console.log(typeof coursess)

            fetch(`/cart`, {
                method: 'post',
                headers: {
                    'Accept': 'application/json, text/plain, */*',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    "course": coursess,
                    "user": userinfo.userid
                })
            }).then(res => res.json())
                .then(res => console.log(res));
        }

        let cartitem = document.getElementById("cartitems");
        cartitem.href = `/cart?user=${userinfo.userid}`


    </script>


</body>

</html>

   
<script type="module">

    let user_info = JSON.parse(localStorage.getItem("user_info1"))
    
    import  {n12345,nbar12345 , afterLogout}  from '/js/navbar.js'
    

    if (user_info === null ) {
        document.getElementById('nn123').innerHTML = nbar12345();
    }
    
    else {
    
        document.getElementById('nn123').innerHTML = n12345(user_info.userid);
    
        let name = document.getElementById('name');
            name.innerText = user_info.userfir + " " +user_info.userlast;
    
            let mail = document.getElementById('mail');
            mail.innerText = user_info.useremail;
            
            let phno = document.getElementById('phno');
            phno.innerHTML= user_info.usermobile;

            let profile_img1 = document.getElementById('profile_img1');
            let profile_img2 = document.getElementById('profile_img2');
    
    
            afterLogout();
            
            if(user_info.usergen === "Male"){
                profile_img1.src ="https://assets.interntheory.com/creative/default-images/guyProfile.jpg";
                profile_img2.src ="https://assets.interntheory.com/creative/default-images/guyProfile.jpg";
             }
            else{
                profile_img1.src ="https://assets.interntheory.com/creative/default-images/girlProfile.jpg";
                profile_img2.src = "https://assets.interntheory.com/creative/default-images/girlProfile.jpg";
            }
    
    
    }
    
    
    $('.btn').click(function () {
            $(this).toggleClass("click");
            $('.sidebar').toggleClass("show");
        });
    
        $('.feat-btn').click(function () {
            $('nav ul .feat-show').toggleClass("show");
        });
        $('.feat1-btn').click(function () {
            $('nav ul .feat1-show').toggleClass("show1");
        });
        $('.feat2-btn').click(function () {
            $('nav ul .feat2-show').toggleClass("show2");
        });
    
    </script>
    
