<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <link rel="stylesheet" href="/css/temp.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    
    <title> detail</title>
    <style>

body {
  background-color: #FAFAFA;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  
}

#internAndJobContainer {
  display: grid;
  gap: 1rem;
  grid-template-columns: 24% 66%;
  margin: 9rem 0;
  padding: 1rem;
}

#internAndJobContainer1 {
  display: grid;
  gap: 1rem;
  grid-template-columns: 24% 66%;
  margin: 4.3rem 0;
  padding: 1rem;
}

#addvertisment>img {
  max-width: 100%;
  
}

        #detailContainer {
            background-color: white;
            padding: 1.3rem;
        }

        #detailContainer>div {
            /* border-bottom: 2px dashed rgb(224, 224, 224); */
            margin: 0.6rem 0;
            padding: 0.6rem 0;
        }
        #detailContainer>:nth-child(1),#detailContainer>:nth-child(2) {
            border-bottom: 2px dashed rgb(224, 224, 224);
           
        }
     
        #partCont1 {
            display: grid;
            grid-template-columns: 20% 60%;

        }

        #imageDetail {
            max-width: 100%;
            height: 6rem;
        }

        #detailPart1 {
            margin: auto;
        }



        #detailPart2 {
            margin-left: 0rem;
            font-size: medium;
            color: gray;
        }


        #detailPart2 h2 {
            margin: 0px 0px 5px;
            color: black;
            font-size: 20px;
            font-weight: 400;
            line-height: 1.6;
            letter-spacing: 0.0075em;
        }

        #detailPart2 h3,
        p {
            margin: 0px 0px 5px;
            font-size: .875rem;
        }

        #btn {
            border-radius: 10px;
            padding: 9px 15px;
            margin-left: 0.3rem;
            border: none;
        }

        #applybtndiv {
            display: flex;
            justify-content: flex-end;
        }

        #applybtn1 {
            border: none;
            background-color: white;
            color: blue;
            cursor: pointer;
        }

        #applybtn2 {
            background-color: #DF1E2E;
            color: white;
            cursor: pointer;
            border-radius: 6px;
            padding: 0.7rem 1rem;
            border: none;
        }

        #skillBtn{
            display: flex;
        }
    </style>
</head>
<body>
    <div id="nn123">
    </div>
    <div id="internAndJobContainer1" class="internAndJobContainer">
        <div id="addvertisment">
            <img src="https://assets.interntheory.com/creative/Internship_left_course_add_02.png" alt="addvertisment">
        </div>
        <div id="detailContainer">
            <div id="partCont1">
                <div id="detailPart1" class="detailImg">
                    <img id="imageDetail" src="<%=internship.image %>" alt="">
                </div>
                <div id="detailPart2" class="detailheading">
                    <h2 id="detailPart3"><%=internship.position %></h2>
                    <h3 id="detailPart4"><%=internship.cname %></h3>
                    <p id="detailPart5"><%=internship.type %></p>
                    <p> <span id="detailPart6">Internship Category: </span> <span id="detailPart7"><%=internship.Category %></span></p>
                </div>
            </div>

            <div id="partCont2">
                <p id="pc1">Openings : <%=internship.openings%></p>
                <p id="pc2">Start Date : <%=internship.start_date%></p>
                <p id="pc3">Application Deadline : <%=internship.application_deadline%></p>
                <p id="pc4">Salary : <%=internship.salary%></p>

                <h4 id="pch1">Job Description:</h4>

                <div id="discript">
                    <% let discrip=internship.description.split("\n") %>
                    <% discrip.forEach((d)=>{  %>
                        <p><%= d %></p>
                   <%  }) %>
                </div>
                <h4 id="pch2">Perks</h4>
                <p id="pc5"><%=internship.perks%></p>


                <h4 id="pch3"> Prefered Skills</h4>
                <div id="skillBtn">
                    <% let skill=internship.skills.split(",") %>
                    <% skill.forEach((s)=>{  %>
                        <p></p>
                        <button id="btn"><%= s %></button>
                   <%  }) %>
                </div>
            </div>

            <div id="partCont3">
                <h4 id="pch31">Company Description</h4>
                <p id="pc6"><%=internship.company_description%></p>

                <h4 id="pch32">Location</h4>
                <p id="pc7"><%=internship.location%></p>
            </div>

            <div id="applybtndiv">
                <button id="applybtn1" onclick="backtoIntership()">BACK TO INTERNSHIP</button>
                <button id="applybtn2">APPLY</button>

            </div>
        </div>


    </div>
    <div id="footer">
        <%- include('../partials/footer') %>
    </div>
</body>
</html>

<script>
    function backtoIntership(){
        location.href="/internships"
    }
</script>



   
<script type="module">

    let user_info = JSON.parse(localStorage.getItem("user_info1"))
    let applybtn2=document.getElementById("applybtn2")
    import  {n12345,nbar12345 , afterLogout}  from '/js/navbar.js'
    

    if (user_info === null ) {
        document.getElementById('nn123').innerHTML = nbar12345();
        applybtn2.addEventListener("click",()=>{location.href="/login/new"})
    }
    
    else {
    
        document.getElementById('nn123').innerHTML = n12345(user_info.userid);
    
        let name = document.getElementById('name');
            name.innerText = user_info.userfir + " " +user_info.userlast;
    
            let mail = document.getElementById('mail');
            mail.innerText = user_info.useremail;
            
            let phno = document.getElementById('phno');
            phno.innerHTML= user_info.usermobile;

            let profile_img1 = document.getElementById('profile_img1');
            let profile_img2 = document.getElementById('profile_img2');
            applybtn2.addEventListener("click",()=>{location.href=`/login/profile/${user_info.userid}`})
    
            afterLogout();
            
            if(user_info.usergen === "Male"){
                profile_img1.src ="https://assets.interntheory.com/creative/default-images/guyProfile.jpg";
                profile_img2.src ="https://assets.interntheory.com/creative/default-images/guyProfile.jpg";
             }
            else{
                profile_img1.src ="https://assets.interntheory.com/creative/default-images/girlProfile.jpg";
                profile_img2.src = "https://assets.interntheory.com/creative/default-images/girlProfile.jpg";
            }
    
    
    }
    
    
    $('.btn').click(function () {
            $(this).toggleClass("click");
            $('.sidebar').toggleClass("show");
        });
    
        $('.feat-btn').click(function () {
            $('nav ul .feat-show').toggleClass("show");
        });
        $('.feat1-btn').click(function () {
            $('nav ul .feat1-show').toggleClass("show1");
        });
        $('.feat2-btn').click(function () {
            $('nav ul .feat2-show').toggleClass("show2");
        });
    
    </script>
    
    
